main-debug
*.o
.ccls-cache
*.nix
.replit
Makefile
main
x64
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.ipch
/.vs
enc_temp_folder/185ed01a1e9817633fc52d70d473e4b9/main.cpp
/.vscode
output
