main-debug
*.o
.ccls-cache
*.nix
.replit
Makefile
main
x64
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.ipch
/.vs
enc_temp_folder
/.vscode
output
/.out
interface\interface.pro.user
build-interface-Desktop_Qt_6_5_0_MinGW_64_bit-Debug
*.Debug
*.Debug
*.Release
interface/*.user*
build-LO21-Projet-Desktop_Qt_6_5_0_MinGW_64_bit-Debug
build-interface-Desktop_Qt_6_5_0_MinGW_64_bit-Debug
