main-debug
*.o
.ccls-cache
*.nix
.replit
Makefile
main
x64
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.ipch
/.vs
interface\interface.pro.user
build-interface-Desktop_Qt_6_5_0_MinGW_64_bit-Debug
*.Debug
*.Debug
*.Release
enc_temp_folder/
/.vscode
output
/.out
